.button {
    display: block;
    width: 5em;

    margin: 0 auto;
    padding: 0.3em;

    color: var(--preto);
    text-align: center;
    font-weight: bold;
    font-size: 1em;

    border: 2px solid var(--borda-botao);

    cursor: pointer;

    background-color: var(--background-botao);
}

.button:hover {
    background-color: var(--botao-hover);
}

.button--banner {
    position: absolute;
    top: 80%;
    left: 20%;

    color: var(--branco);
    font-size: 0.9em;

    border: 2px solid white;
}

.button--banner:hover {
    background-color: var(--banner-botao-hover);
}